html {
    font-size: 1.2em;
}

html, body {
    font-family: 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    transition: all .4s;
    overflow: hidden;
    background-color: rgba(210, 210, 210, .45);
}

body {
    color: #363636;
}

#master-view {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#primary-region {
    width: 90%;
    max-width: 600px;
    height: 100%;
    overflow: auto;
    margin: 0 auto;

    background-color: #FDFDFD;

    /*background: rgba(100, 100, 100, .5);*/
}

header {
    height: 35%;
    padding: 8pt;
    text-align: center;
}

header #title {
    font-family: 'Montserrat', 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
    font-size: 44pt;
    font-weight: 800;
    padding: 10pt;
    padding-top: 15%;
}

header #catchline {
    letter-spacing: 1.175pt;
    word-spacing: 2pt;
    font-style: italic;
    margin-top: 20pt;
}

#primary-region #items todo-list-item {
  border-top: solid 2px rgba(210, 210, 210, .6);

  width: 100%;
  border-radius: 1px;
}

#primary-region #items todo-list-item action-item#complete-btn {
  padding: 3%;
  font-size: 18pt;
  opacity: .8;
  transition: background .3s;
}

#primary-region #items todo-list-item action-item#complete-btn:hover {
  background-color: rgba(210, 210, 210, .6);
}

#primary-region #items todo-list-item todo-item-title {
  padding-left: 12pt;
}
